---
layout: page
title: Projects
---
{% include JB/setup %}

<div class="col-12 row pb-2 pt-2 mt-1 bg-light rounded">
	<div class="col-12">
		<h4>Table of Contents:</h4>
	</div>
	<div class="col-12 row">
		{% assign alphabetical = site.data.projects | sort: "title" %}
		{% for prj in alphabetical %}
		<div class="col-3">
			<a href="/projects/#{{prj.title}}">{{prj.title}}</a>
		</div>
		{% endfor %}
	</div>
</div>
{% for prj in site.data.projects %}
	<div class="col-12 row pb-4 mt-4 border-bottom border-secondary"
	  id="{{prj.title}}">
		<div class="col-12">
			<h2><b>{{prj.title}}</b></h2>
		</div>
{% if prj.layout == 1 %}
		<div class="col-8">
			{{prj.description | markdownify}}
			<a aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				data-count-aria-label="# stargazers on GitHub"
				data-show-count="true"
				data-count-href="/{{ prj.gh_user }}/{{ prj.gh_repo }}/stargazers"
				data-size="large"
				data-icon="octicon-star"
				href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}"
				aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				class="github-button">Star</a>
		</div>
		<div class="col-4">
			<img class="img-fluid" src="{{prj.img}}">
		</div>
{% elsif prj.layout == 2 %}
		<div class="col-12">
			{{prj.description | markdownify}}
			<a aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				data-count-aria-label="# stargazers on GitHub"
				data-show-count="true"
				data-count-href="/{{ prj.gh_user }}/{{ prj.gh_repo }}/stargazers"
				data-size="large"
				data-icon="octicon-star"
				href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}"
				aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				class="github-button">Star</a>
		</div>
		<div class="row mt-3 justify-content-center col-12">
			{% for img in prj.img %}
			<div class="col-4">
				<img class="img-fluid" src="{{img}}">
			</div>
			{% endfor %}
		</div>
{% elsif prj.layout == 3 %}
		<div class="col-12">
			{{prj.description | markdownify}}
			<a aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				data-count-aria-label="# stargazers on GitHub"
				data-show-count="true"
				data-count-href="/{{ prj.gh_user }}/{{ prj.gh_repo }}/stargazers"
				data-size="large"
				data-icon="octicon-star"
				href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}"
				aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				class="github-button">Star</a>
		</div>
		<div class="row mt-3 justify-content-center text-center col-12">
			{% for img in prj.img %}
			<div class="col-3">
				<img class="img-fluid" src="{{img}}">
			</div>
			{% endfor %}
		</div>
{% elsif prj.layout == 4 %}
		<div class="col-12">
			{{prj.description | markdownify}}
			<a aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				data-count-aria-label="# stargazers on GitHub"
				data-show-count="true"
				data-count-href="/{{ prj.gh_user }}/{{ prj.gh_repo }}/stargazers"
				data-size="large"
				data-icon="octicon-star"
				href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}"
				aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				class="github-button">Star</a>
		</div>
		<div class="row mt-3 col-12">
			{% if {{prj.img}} contains "youtube.com" %}
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" allowfullscreen src="{{prj.img}}">
				</iframe>
			</div>
			{% else %}
			<img class="img-fluid" src="{{prj.img}}">
			{% endif %}
		</div>
{% elsif prj.layout == 5 %}
		<div class="col-12">
			{{prj.description | markdownify}}
			<a aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				data-count-aria-label="# stargazers on GitHub"
				data-show-count="true"
				data-count-href="/{{ prj.gh_user }}/{{ prj.gh_repo }}/stargazers"
				data-size="large"
				data-icon="octicon-star"
				href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}"
				aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				class="github-button">Star</a>
		</div>
{% elsif prj.layout == 6 %}
		<div class="col-6">
			{{prj.description | markdownify}}
			<a aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				data-count-aria-label="# stargazers on GitHub"
				data-show-count="true"
				data-count-href="/{{ prj.gh_user }}/{{ prj.gh_repo }}/stargazers"
				data-size="large"
				data-icon="octicon-star"
				href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}"
				aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				class="github-button">Star</a>
		</div>
		<div class="col-6">
			{% if {{prj.wide_img}} contains "youtube.com" %}
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" allowfullscreen src="{{prj.wide_img}}">
				</iframe>
			</div>
			{% else %}
			<img class="img-fluid" src="{{prj.wide_img}}">
			{% endif %}
		</div>
		<div class="row mt-3 justify-content-center text-center col-12">
			{% for img in prj.img %}
			<div class="col-3">
				<img class="img-fluid" src="{{img}}">
			</div>
			{% endfor %}
		</div>
{% elsif prj.layout == 7 %}
		<div class="col-12">
			{{prj.description | markdownify}}
			<a aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				data-count-aria-label="# stargazers on GitHub"
				data-show-count="true"
				data-count-href="/{{ prj.gh_user }}/{{ prj.gh_repo }}/stargazers"
				data-size="large"
				data-icon="octicon-star"
				href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}"
				aria-label="Star {{ prj.gh_user }}/{{ prj.gh_repo }} on GitHub"
				class="github-button">Star</a>
		</div>
		<div class="row mt-3 justify-content-center text-center col-12">
			{% for img in prj.img %}
			<div class="col-6">
				{% if img contains "youtube.com" %}
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" allowfullscreen src="{{img}}">
					</iframe>
				</div>
				{% else %}
				<img class="img-fluid" src="{{img}}">
				{% endif %}
			</div>
			{% endfor %}
		</div>
{% else %}
		<div class="col-12">
			<h1 class="bg-danger text-white">Invalid Layout!</h1>
		</div>
{% endif %}
	</div>
{% endfor %}

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

