---
layout: page
title: Selected Projects
---
{% include JB/setup %}

{% for project in site.data.projects %}
<a href="https://github.com/{{ project.gh_user }}/{{ project.gh_repo }}">
	<h1>{{ project.title }}</h1>
</a>
<div class="row">
	{% if project.image %}
	<div class="col-md-6 col-sm-12">
	{% else %}
	<div class="col-md-12">
	{% endif %}
		<p>
		{{ project.description | markdownify}}
		{% if project.gh_user and project.gh_repo %}
		<a aria-label="Star {{ project.gh_user }}/{{ project.gh_repo }} on GitHub"
			data-count-aria-label="# stargazers on GitHub"
			data-show-count="true"
			data-count-href="/{{ project.gh_user }}/{{ project.gh_repo }}/stargazers"
			data-size="large"
			data-icon="octicon-star"
			href="https://github.com/{{ project.gh_user }}/{{ project.gh_repo }}"
			class="github-button">Star</a>
		<a aria-label="Fork {{ project.gh_user }}/{{ project.gh_repo }} on GitHub"
			data-count-aria-label="# forks on GitHub"
			data-show-count="true"
			data-count-href="/{{ project.gh_user }}/{{ project.gh_repo }}/network"
			data-size="large"
			data-icon="octicon-git-branch"
			href="https://github.com/{{ project.gh_user }}/{{ project.gh_repo }}/fork"
			class="github-button">Fork</a>
		{% endif %}
		</p>
	</div>
	{% if project.image %}
	<div class="col-md-6 col-sm-12">
		<a href="{{ project.image }}">
			<img class="img-fluid" src="{{ project.image }}"
			style="padding-bottom:8px;padding-left:8px;padding-right:8px;"/>
		</a>
	</div>
	{% endif %}
</div>
<hr>
{% endfor %}

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

