---
layout: page
title: Projects
---
{% include JB/setup %}

<div class="col-12 row pb-4 mt-4 border-bottom border-light">
	<div class="col-12">
		<h3>Layout 1: Single Square Image on Right</h3>
	</div>
	<div class="col-8">
		tray_rust is a toy physically based ray tracer built off of the techniques
			discussed in [Physically Based Rendering](http://pbrt.org/). It began life as a port of
			[tray](https://github.com/Twinklebear/tray) to [Rust](http://www.rust-lang.org)
			to check out the language.
			The renderer is currently capable of path tracing, supports triangle meshes (MTL support coming soon),
			and various physically based material models (including measured data from the
			[MERL BRDF Database](http://www.merl.com/brdf/)) along with rigid body animation
			and image-parallel distributed rendering. More
			details on rendering performance and other features can be found in the readme
			[README](https://github.com/Twinklebear/tray_rust/blob/master/README.md).\n\n
			<br />
			<br />
			tray_rust can also render animations, and is the renderer I've used for the University of Utah's
			[teapot rendering competition](http://graphics.cs.utah.edu/trc/) after the first year.
			The video is my submission from 2016. To simplify making scenes
			for tray_rust I also wrote a [Blender plugin](https://github.com/Twinklebear/tray_rust_blender)
			which I used to make the animation
			shown, and is the easiest way to create scenes for the renderer though some features
			are still needed.
			<br />
			<a href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}">
				<i class="fab fa-github"></i> GitHub</a>
	</div>
	<div class="col-4">
		<img class="img-fluid" src="http://via.placeholder.com/400x400">
	</div>
</div>
<div class="col-12 row pb-4 mt-4 border-bottom border-light">
	<div class="col-12">
		<h3>Layout 2: Three Images Along Bottom</h3>
	</div>
	<div class="col-12">
		tray_rust is a toy physically based ray tracer built off of the techniques
			discussed in [Physically Based Rendering](http://pbrt.org/). It began life as a port of
			[tray](https://github.com/Twinklebear/tray) to [Rust](http://www.rust-lang.org)
			to check out the language.
			The renderer is currently capable of path tracing, supports triangle meshes (MTL support coming soon),
			and various physically based material models (including measured data from the
			[MERL BRDF Database](http://www.merl.com/brdf/)) along with rigid body animation
			and image-parallel distributed rendering. More
			details on rendering performance and other features can be found in the readme
			[README](https://github.com/Twinklebear/tray_rust/blob/master/README.md).\n\n
			<br />
			<br />
			tray_rust can also render animations, and is the renderer I've used for the University of Utah's
			[teapot rendering competition](http://graphics.cs.utah.edu/trc/) after the first year.
			The video is my submission from 2016. To simplify making scenes
			for tray_rust I also wrote a [Blender plugin](https://github.com/Twinklebear/tray_rust_blender)
			which I used to make the animation
			shown, and is the easiest way to create scenes for the renderer though some features
			are still needed.
			<br />
			<a href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}">
				<i class="fab fa-github"></i> GitHub</a>
	</div>
	<div class="row mt-3 justify-content-center col-12">
		<div class="col-4">
			<img class="img-fluid" src="http://via.placeholder.com/300x300">
		</div>
		<div class="col-4">
			<img class="img-fluid" src="http://via.placeholder.com/300x300">
		</div>
		<div class="col-4">
			<img class="img-fluid" src="http://via.placeholder.com/300x300">
		</div>
	</div>
</div>
<div class="col-12 row pb-4 mt-4 border-bottom border-light">
	<div class="col-12">
		<h3>Layout 3: Four Images Along Bottom</h3>
	</div>
	<div class="col-12">
		tray_rust is a toy physically based ray tracer built off of the techniques
			discussed in [Physically Based Rendering](http://pbrt.org/). It began life as a port of
			[tray](https://github.com/Twinklebear/tray) to [Rust](http://www.rust-lang.org)
			to check out the language.
			The renderer is currently capable of path tracing, supports triangle meshes (MTL support coming soon),
			and various physically based material models (including measured data from the
			[MERL BRDF Database](http://www.merl.com/brdf/)) along with rigid body animation
			and image-parallel distributed rendering. More
			details on rendering performance and other features can be found in the readme
			[README](https://github.com/Twinklebear/tray_rust/blob/master/README.md).\n\n
			<br />
			<br />
			tray_rust can also render animations, and is the renderer I've used for the University of Utah's
			[teapot rendering competition](http://graphics.cs.utah.edu/trc/) after the first year.
			The video is my submission from 2016. To simplify making scenes
			for tray_rust I also wrote a [Blender plugin](https://github.com/Twinklebear/tray_rust_blender)
			which I used to make the animation
			shown, and is the easiest way to create scenes for the renderer though some features
			are still needed.
			<br />
			<a href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}">
				<i class="fab fa-github"></i> GitHub</a>
	</div>
	<div class="row mt-3 justify-content-center text-center col-12">
		<div class="col-3">
			<img class="img-fluid" src="http://via.placeholder.com/300x300">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="http://via.placeholder.com/300x300">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="http://via.placeholder.com/300x300">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="http://via.placeholder.com/300x300">
		</div>
	</div>
</div>
<div class="col-12 row pb-4 mt-4 border-bottom border-light">
	<div class="col-12">
		<h3>Layout 4: Single Wide Image on Bottom</h3>
	</div>
	<div class="col-12">
		tray_rust is a toy physically based ray tracer built off of the techniques
			discussed in [Physically Based Rendering](http://pbrt.org/). It began life as a port of
			[tray](https://github.com/Twinklebear/tray) to [Rust](http://www.rust-lang.org)
			to check out the language.
			The renderer is currently capable of path tracing, supports triangle meshes (MTL support coming soon),
			and various physically based material models (including measured data from the
			[MERL BRDF Database](http://www.merl.com/brdf/)) along with rigid body animation
			and image-parallel distributed rendering. More
			details on rendering performance and other features can be found in the readme
			[README](https://github.com/Twinklebear/tray_rust/blob/master/README.md).\n\n
			<br />
			<br />
			tray_rust can also render animations, and is the renderer I've used for the University of Utah's
			[teapot rendering competition](http://graphics.cs.utah.edu/trc/) after the first year.
			The video is my submission from 2016. To simplify making scenes
			for tray_rust I also wrote a [Blender plugin](https://github.com/Twinklebear/tray_rust_blender)
			which I used to make the animation
			shown, and is the easiest way to create scenes for the renderer though some features
			are still needed.
			<br />
			<a href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}">
				<i class="fab fa-github"></i> GitHub</a>
	</div>
	<div class="row mt-3 col-12">
		<img class="img-fluid" src="http://via.placeholder.com/1000x450">
	</div>
</div>
<div class="col-12 row pb-4 mt-4 border-bottom border-light">
	<div class="col-12">
		<h3>Layout 5: No Image</h3>
	</div>
	<div class="col-12">
		tray_rust is a toy physically based ray tracer built off of the techniques
			discussed in [Physically Based Rendering](http://pbrt.org/). It began life as a port of
			[tray](https://github.com/Twinklebear/tray) to [Rust](http://www.rust-lang.org)
			to check out the language.
			The renderer is currently capable of path tracing, supports triangle meshes (MTL support coming soon),
			and various physically based material models (including measured data from the
			[MERL BRDF Database](http://www.merl.com/brdf/)) along with rigid body animation
			and image-parallel distributed rendering. More
			details on rendering performance and other features can be found in the readme
			[README](https://github.com/Twinklebear/tray_rust/blob/master/README.md).\n\n
			<br />
			<br />
			tray_rust can also render animations, and is the renderer I've used for the University of Utah's
			[teapot rendering competition](http://graphics.cs.utah.edu/trc/) after the first year.
			The video is my submission from 2016. To simplify making scenes
			for tray_rust I also wrote a [Blender plugin](https://github.com/Twinklebear/tray_rust_blender)
			which I used to make the animation
			shown, and is the easiest way to create scenes for the renderer though some features
			are still needed.
			<br />
			<a href="https://github.com/{{ prj.gh_user }}/{{ prj.gh_repo }}">
				<i class="fab fa-github"></i> GitHub</a>
	</div>
</div>
	<!--
{% for project in site.data.projects %}
<a href="https://github.com/{{ project.gh_user }}/{{ project.gh_repo }}">
	<h1>{{ project.title }}</h1>
</a>
<div class="row justify-content-md-center">
	{% if project.image %}
	<div class="col-md-6 col-sm-12">
	{% else %}
	<div class="col-md-12">
	{% endif %}
		<p>
		{{ project.description | markdownify}}
		{% if project.gh_user and project.gh_repo %}
		<a class="github-button"
			href="https://github.com/{{ project.gh_user }}/{{ project.gh_repo }}/subscription"
			data-icon="octicon-eye"
			data-show-count="true"
			data-size="large"
			aria-label="Watch {{ project.gh_user }}/{{ project.gh_repo }} on GitHub">Watch</a>
		<a aria-label="Star {{ project.gh_user }}/{{ project.gh_repo }} on GitHub"
			data-count-aria-label="# stargazers on GitHub"
			data-show-count="true"
			data-count-href="/{{ project.gh_user }}/{{ project.gh_repo }}/stargazers"
			data-size="large"
			data-icon="octicon-star"
			href="https://github.com/{{ project.gh_user }}/{{ project.gh_repo }}"
			aria-label="Star {{ project.gh_user }}/{{ project.gh_repo }} on GitHub"
			class="github-button">Star</a>
		<a aria-label="Fork {{ project.gh_user }}/{{ project.gh_repo }} on GitHub"
			data-count-aria-label="# forks on GitHub"
			data-show-count="true"
			data-count-href="/{{ project.gh_user }}/{{ project.gh_repo }}/network"
			data-size="large"
			data-icon="octicon-git-branch"
			href="https://github.com/{{ project.gh_user }}/{{ project.gh_repo }}/fork"
			aria-label="Fork {{ project.gh_user }}/{{ project.gh_repo }} on GitHub"
			class="github-button">Fork</a>
		{% endif %}
		</p>
	</div>
	{% if project.image %}
	<div class="col-md-6 col-sm-12">
		<a href="{{ project.image }}">
			<img class="img-fluid" src="{{ project.image }}"/>
		</a>
	</div>
	{% endif %}
	{% if project.image_list %}
	<div class="row col-md-12 justify-content-center text-center">
		{% for i in project.image_list %}
		<div class="col-lg-{{ 12 | divided_by: forloop.length }} col-md-12 mb-3">
			{% if i.type == "img" %}
			<a href="{{ i.src }}">
				<img class="img-fluid" src="{{ i.src }}"/>
			</a>
			{% elsif i.type == "video" %}
			<video class="img-fluid" src="{{ i.src }}" type="video/mp4" controls
				preload="metadata" poster="{{ i.poster }}">
			</video>
			{% endif %}
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
<hr>
{% endfor %}
</div>

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
-->

