---
layout: page
title: Publications
---
{% include JB/setup %}

{% for pub in site.data.publications %}
<a href="{{ pub.url }}"><h2>{{ pub.title }}</h2></a>
<div class="row">
	{% if pub.image and pub.thumb %}
	<div class="col-md-6">
	{% else %}
	<div class="col-md-12">
	{% endif %}
		<h5>{{ pub.authors | markdownify }}</h5>
		<p>
		<i>{{ pub.venue }}, {{ pub.year }}</i>
		{% if pub.doi %}
		DOI: <a href="https://dx.doi.org/{{ pub.doi }}">{{ pub.doi }}</a>
		{% endif %}
		</p>

		{% if pub.gh_user and pub.gh_repo %}
		<p>
		<a aria-label="Star {{ pub.gh_user }}/{{ pub.gh_repo }} on GitHub"
			data-count-aria-label="# stargazers on GitHub"
			data-show-count="true"
			data-count-href="/{{ pub.gh_user }}/{{ pub.gh_repo }}/stargazers"
			data-size="large"
			data-icon="octicon-star"
			href="https://github.com/{{ pub.gh_user }}/{{ pub.gh_repo }}"
			class="github-button">Star</a>
		<a aria-label="Fork {{ pub.gh_user }}/{{ pub.gh_repo }} on GitHub"
			data-count-aria-label="# forks on GitHub"
			data-show-count="true"
			data-count-href="/{{ pub.gh_user }}/{{ pub.gh_repo }}/network"
			data-size="large"
			data-icon="octicon-git-branch"
			href="https://github.com/{{ pub.gh_user }}/{{ pub.gh_repo }}/fork"
			class="github-button">Fork</a>
		</p>
		{% endif %}
	</div>
	{% if pub.image and pub.thumb %}
	<div class="col-md-6">
		<a href="{{ pub.image }}">
			<img class="img-fluid" src="{{ pub.thumb }}"
				style="padding-bottom:8px;padding-left:8px;padding-right:8px;"/>
		</a>
	</div>
	{% endif %}
</div>
<hr>
{% endfor %}

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>

