---
layout: page
title: "TwinklebearDev SDL 2.0 Tutorial Index"
description: ""
---
{% include JB/setup %}

<div class="col-md-10">
	<h2>Welcome!</h2>
	<p>
	The goal of the following tutorials is to provide you with an introduction to SDL2 in C++. It's assumed
	throughout the series that you have some familiarity with C++ and are comfortable with functions, classes
	and memory management. If you find yourself having trouble understanding the code in the tutorials
	feel free to comment on the lesson and/or grab a good C++ book from this excellent list on
	<a href="http://stackoverflow.com/questions/388242/the-definitive-c-book-guide-and-list">StackOverflow</a>.
	</p>
	<p>
	The full source and assets for the tutorials can be found on <a href="https://github.com/Twinklebear/TwinklebearDev-Lessons">Github</a>. It may be helpful to check against this code to find errors, but it's important to not copy
	directly as it will take away from the learning experience. If you ever have questions about the meaning
	or functionality of SDL features head over to the <a href="http://wiki.libsdl.org/moin.fcg/FrontPage">SDL documentation wiki</a> and/or comment on the lesson page. You can also get help with SDL in the <a href="http://forums.libsdl.org/">SDL Forums</a> or in the IRC at #SDL on freenode.
	</p>

	<h2>Tutorial Index</h2>
	<ul>
		<li>
		<a href="{% post_url 2013-08-15-lesson-0-setting-up-sdl %}">Lesson 0: Setting up SDL</a>
		</li>
		<ul>
			<li>
			<a href="{% post_url 2014-06-16-postscript-0-properly-finding-resource-paths %}">
				Postscript 0: Properly Finding Resource Paths</a>
			</li>
		</ul>
		<li>
		<a href="{% post_url 2013-08-17-lesson-1-hello-world %}">Lesson 1: Hello World</a>
		</li>
		<!--
		<ul>
			<li>
			<a href="{% post_url 2014-08-01-postscript-1-easy-cleanup %}">
				Postscript 1: Easy Cleanup</a>
			</li>
		</ul>
		-->
		<li>
		<a href="{% post_url 2013-08-17-lesson-2-dont-put-everything-in-main %}">Lesson 2: Don't Put Everything in Main</a>
		</li>
		<li>
		<a href="{% post_url 2013-08-18-lesson-3-sdl-extension-libraries %}">Lesson 3: SDL Extension Libraries</a>
		</li>
		<li>
		<a href="{% post_url 2013-08-20-lesson-4-handling-events %}">Lesson 4: Handling Events</a>
		</li>
		<li>
		<a href="{% post_url 2013-08-27-lesson-5-clipping-sprite-sheets %}">Lesson 5: Clipping Sprite Sheets</a>
		</li>
		<li>
		<a href="{% post_url 2013-12-18-lesson-6-true-type-fonts-with-sdl_ttf %}">
			Lesson 6: True Type Fonts with SDL_ttf
		</a>
		</li>
	</ul>
</div>
<div class="col-md-12 comments">
{% include JB/comments %}
</div>

