<h1 class="display-4">{{page.title}}</h1>

<div class="row justify-content-md-center">
	<div class="col-md-8">
		{{ content }}
	</div>
	<div class="col-md-2">
		<small>
			<a class="icon" title="Twinklebear@GitHub" href="https://github.com/Twinklebear/">
				<i class="fa fa-github fa-3x"></i>
			</a>
			<a class="icon" title="@_wusher" href="https://twitter.com/_wusher">
				<i class="fa fa-twitter fa-3x"></i>
			</a>
			<a class="icon" title="PureHamster" href="http://www.last.fm/user/PureHamster">
				<i class="fa fa-lastfm-square fa-3x"></i>
			</a>
			<a class="icon" title="will@willusher.io" href="mailto:will@willusher.io">
				<i class="fa fa-envelope fa-3x"></i>
			</a>
		</small>
	</div>
</div>

