<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ if .Params.Tags }}
    <meta name="keywords" content="{{ with .Params.Tags }}{{ delimit . ", "}}{{ end }}" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}" />

    <link rel="shortcut icon" type="image/png" href="/favicon.ico">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link rel="stylesheet" href="/custom.css" />

    <!-- Blocks may include default content. -->
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">Will Usher</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{ $currentPage := . }} {{ range .Site.Menus.main }}
            <li class="nav-item">
              {{ if $currentPage.IsMenuCurrent "main" . }}
              <a class="nav-link active" aria-current="page" href="{{ .URL }}"
                >{{ .Name }}</a
              >
              {{ else }}
              <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
              {{ end }}
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="col-12 mx-auto">
        <main>
          <!-- Code that all your templates share, like a header -->

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}
        </main>
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>

    <!-- init any popovers -->
    <script>
      const popoverTriggerList = document.querySelectorAll(
        '[data-bs-toggle="popover"]'
      );
      const popoverList = [...popoverTriggerList].map(
        (popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
      );

      const clip = new ClipboardJS(".bib");
    </script>

    {{ if .Params.mathjax }}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
    {{ end }} {{ if .Params.markdeep }}
    <script src="/markdeep_modified_min.js"></script>
    {{ end }}
    <script
      defer
      data-domain="willusher.io"
      src="https://pan.wushernet.com/js/script.js"
    ></script>
  </body>
</html>
