<div class="row col-12 mb-3 float-md-left">
  <div class="text-md-start text-center col-12 col-md-2">
    <a href="{{ .RelPermalink }}">
      {{ if .Params.Thumb }}
      <img class="mx-auto img-thumbnail" src="{{ .Params.Thumb }}" />
      {{ else }}
      <img
        class="mx-auto img-thumbnail"
        style="width:210px;"
        src="/img/file.svg"
      />
      {{ end }}
    </a>
  </div>
  <div class="col-12 col-md-10 text-md-left">
    <p></p>
    <h5>{{ .Params.Title }}</h5>
    <p>
      {{ .Params.Authors }}. <i>{{ .Params.Venue }}</i>, {{ .Params.Year }}.
    </p>
    <p>
      <a class="mr-2" href="{{ .RelPermalink }}"
        ><i class="bx bx-file"></i> Project Page</a
      >
      <a class="mr-2" href="{{ .Params.Paper_Pdf }}"
        ><i class="bx bxs-file-pdf"></i> PDF</a
      >
      {{ if .Params.Bibtex }}
      <a
        class="bib mr-2"
        href="javascript:void(0);"
        data-clipboard-text="{{ .Params.Bibtex }}"
        data-bs-toggle="popover"
        data-bs-content="Copied!"
        tabindex="0"
        ><i class="bx bxs-quote-left"></i>Copy BibTeX</a
      >
      {{ end }} {{ if .Params.Doi }}
      <a class="mr-2" href="https://dx.doi.org/{{ .Params.Doi }}">
        <i class="bx bx-link-external"></i> Publisher's Version</a
      >
      {{ end }}
    </p>
    {{ if .Params.Award }}
    <i class="bx bx-award"></i><b><i> {{ .Params.Award }}</i></b>
    {{ end }}
  </div>
</div>
