{{ define "main" }}
<section id="main">
  <div class="container">
    <div class="row">
      <div class="col-12 row">
        <h1 id="title" class="display-4">{{ .Title }}</h1>
        <p id="date">{{ .Date.Format "Mon Jan 2, 2006" }}</p>
        <div class="col-xl-10 col-12 order-xl-0 order-1">
          <article id="content">{{ .Content }}</article>
        </div>
        {{ if in .TableOfContents "li" }}
        <div class="col-xl-2 col-12 order-xl-1 order-0">
          <div class="sticky-xl-top">
          <h4>Index</h4>
          {{ .TableOfContents }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
<aside id="meta">
  <!--
  <div>
    {{ with .GetTerms "topics" }}
    <ul id="topics">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }} {{ with .GetTerms "tags" }}
    <ul id="tags">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  -->
  <div class="container">
    <div class="row">
      <div class="offset-1 col-10 mb-4 row">
        <div class="col-6 text-start">
          {{ with .PrevInSection }}
          <a class="previous" href="{{ .RelPermalink }}"
            ><i class="bx bxs-chevron-left"></i>Previous Post: {{ .LinkTitle
            }}</a
          >
          {{ end }}
        </div>
        <div class="col-6 text-end">
          {{ with .NextInSection }}
          <a class="next" href="{{ .RelPermalink }}"
            >Next Post: {{ .LinkTitle }}<i class="bx bxs-chevron-right"></i
          ></a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</aside>
{{ end }}
